<ion-header class="header" mode="ios">
  <ion-toolbar>
    <ion-title>
      Add Event
    </ion-title>
    <ion-title>
      2019 | Spring
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
  <div class="ion-padding">
    <form>
      <ion-item class="has-icon">
        <figure><svg viewBox="0 0 51.72 52.31">
            <defs>
              <style>
                .cls-1 {
                  fill: none;
                }
              </style>
            </defs>
            <g id="Layer_2" data-name="Layer 2">
              <g id="Layer_1-2" data-name="Layer 1">
                <g>
                  <path
                    d="M19.71,33.63l-.8,4.76a1.74,1.74,0,0,0,2.52,1.83L25.7,38,30,40.21a1.74,1.74,0,0,0,2.52-1.83l-.8-4.76,3.44-3.38a1.74,1.74,0,0,0-1-3l-4.77-.71-2.15-4.32a1.74,1.74,0,0,0-3.11,0L22,26.58l-4.77.71a1.74,1.74,0,0,0-1,3Zm0,0" />
                  <path
                    d="M46.22,5.55H40.76v-3A2.52,2.52,0,0,0,38.24,0h-.4a2.52,2.52,0,0,0-2.52,2.52v3H16v-3A2.52,2.52,0,0,0,13.51,0h-.4a2.52,2.52,0,0,0-2.52,2.52v3H5.19A5.19,5.19,0,0,0,0,10.74V47a5.19,5.19,0,0,0,5.19,5.19h41A5.19,5.19,0,0,0,51.41,47V10.74a5.19,5.19,0,0,0-5.19-5.19Zm-.68,40.81H5.86V18.1H45.55Zm0,0" />
                </g>
                <rect class="cls-1" y="0.01" width="51.72" height="52.3" />
              </g>
            </g>
          </svg></figure>
        <ion-label position="stacked">Name</ion-label>
        <ion-input type="text" placeholder="Lorem Ipsum" mode="ios"></ion-input>
      </ion-item>

      <ion-item class="has-icon">
        <figure><svg viewBox="0 0 29.24 51.72">
            <g id="Layer_2" data-name="Layer 2">
              <g id="Layer_1-2" data-name="Layer 1">
                <g>
                  <path
                    d="M19.61,1.91V0L13.47,1.91H0V47.72H2.49V4.4H5.41L3.5,5V47.72l16.11,4V4.4h7.13V47.72h2.5V1.91ZM15.84,31.19a1.81,1.81,0,0,1,0-3.56,1.82,1.82,0,0,1,0,3.56Zm0,0" />
                  <path
                    d="M21,9.27a5,5,0,1,0,5,5,5,5,0,0,0-5-5Zm0,9.55a4.55,4.55,0,1,1,4.55-4.55A4.56,4.56,0,0,1,21,18.83Zm0,0" />
                  <path d="M19.42,11l-.18-.37-.2.1.19.37.2-.1Zm0,0" />
                  <path d="M17.31,14.35a2.16,2.16,0,0,1,0-.23H16.8v.46h.52a2.2,2.2,0,0,1,0-.23Zm0,0" />
                  <path d="M21.28,10.62V10.1h-.45v.52h.45Zm0,0" />
                  <path d="M24.9,12.64l-.1-.21-.41.21.1.2Zm0,0" />
                  <path d="M23,11.18l.19.13.22-.35-.19-.13Zm0,0" />
                  <path d="M17.49,12.14l.37.25.13-.19L17.62,12Zm0,0" />
                  <path d="M22.6,17.77l.28.55.21-.1-.28-.54-.2.1Zm0,0" />
                  <path d="M24,16.64l.47.33.13-.18-.47-.32a1.28,1.28,0,0,1-.13.17Zm0,0" />
                  <path d="M24.79,14.12c0,.08,0,.15,0,.23s0,.15,0,.23h.51v-.46Zm0,0" />
                  <path d="M20.83,18.09v.52h.45v-.52h-.45Zm0,0" />
                  <path d="M18.65,18l.19.13.33-.52L19,17.47Zm0,0" />
                  <path d="M17.21,16.29l.1.21.51-.26-.11-.2Zm0,0" />
                  <path d="M21.22,11h-.32v3.47L19,16.55l0,0,1.84-2h2.43v-.44H21.22Zm0,0" />
                </g>
              </g>
            </g>
          </svg></figure>
        <ion-label position="stacked">Class</ion-label>
        <ion-select placeholder="Select Class" mode="ios">
          <ion-select-option value="1">Option 1</ion-select-option>
          <ion-select-option value="2">Option 2</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="has-icon">
        <figure><svg viewBox="0 0 51.72 55.38">
            <g id="Layer_2" data-name="Layer 2">
              <g id="Layer_1-2" data-name="Layer 1">
                <g>
                  <path
                    d="M51.72,20V11.64c0-4.33-3.82-7.85-8.55-8V8.61A5.09,5.09,0,0,1,33,8.61V3.66H18.57V8.61a5.09,5.09,0,0,1-10.18,0V3.68C3.73,3.88,0,7.37,0,11.64V46.58a8.82,8.82,0,0,0,8.81,8.81H42.92a8.81,8.81,0,0,0,8.8-8.81ZM47.89,46.58a5,5,0,0,1-5,5H8.81a5,5,0,0,1-5-5V20H47.89Zm0,0" />
                  <path d="M11.27,2.21v6.4a2.21,2.21,0,1,0,4.43,0V2.21a2.21,2.21,0,0,0-4.43,0Zm0,0" />
                  <path
                    d="M38.08,0a2.22,2.22,0,0,0-2.21,2.22V8.61a2.21,2.21,0,1,0,4.43,0V2.21A2.22,2.22,0,0,0,38.08,0Zm0,0" />
                </g>
              </g>
            </g>
          </svg></figure>
        <ion-label position="stacked">Date</ion-label>
        <ion-datetime displayFormat="MM DD YY" placeholder="April 26th, 2019" mode="ios"></ion-datetime>

      </ion-item>

      <ion-item class="has-icon">
        <figure><svg viewBox="0 0 51.72 51.72">
            <g id="Layer_2" data-name="Layer 2">
              <g id="Layer_1-2" data-name="Layer 1">
                <g>
                  <path
                    d="M25.86,0A25.86,25.86,0,1,0,51.72,25.86,25.89,25.89,0,0,0,25.86,0Zm0,46.22A20.36,20.36,0,1,1,46.22,25.86,20.38,20.38,0,0,1,25.86,46.22Zm0,0" />
                  <path
                    d="M39.34,25.06H27.72v-14a2.13,2.13,0,0,0-4.26,0v16.1a2.13,2.13,0,0,0,2.13,2.13H39.34a2.13,2.13,0,1,0,0-4.26Zm0,0" />
                </g>
              </g>
            </g>
          </svg></figure>
        <ion-label position="stacked">Time</ion-label>
        <ion-datetime displayFormat="h:mm a" placeholder="10:15 AM" mode="ios"></ion-datetime>

      </ion-item>

      <ion-item class="has-icon">
        <figure><svg viewBox="0 0 63.74 51.72">
            <g id="Layer_2" data-name="Layer 2">
              <g id="Layer_1-2" data-name="Layer 1">
                <path
                  d="M63.58,47.39l-10-30.9a3.31,3.31,0,0,0-3.15-2.29H39.88a9.37,9.37,0,1,0-16,0H13.31a3.31,3.31,0,0,0-3.15,2.29l-10,30.9a3.31,3.31,0,0,0,3.15,4.33H60.43A3.31,3.31,0,0,0,63.58,47.39ZM32.94,14.2H30.81a5,5,0,1,1,2.13,0Z" />
              </g>
            </g>
          </svg>
        </figure>
        <ion-label position="stacked">Grade Weight</ion-label>
        <ion-input type="text" placeholder="Unassigned" mode="ios"></ion-input>
      </ion-item>

      <div class="bottom-frm-btn">
        <ion-button expand="block" class="btn btn-red btn-border btn-small" mode="ios">
          cancel
        </ion-button>

        <ion-button expand="block" class="btn btn-green btn-small" mode="ios">
          Create
        </ion-button>
      </div>
    </form>
  </div>

</ion-content>