<ion-header class="header" mode="ios">
    <ion-toolbar>
      <ion-title>
          New Holiday
      </ion-title>
      <ion-title>
          2019 | Spring
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="main">
    <div class="ion-padding">
      <form>
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input type="text" placeholder="Spring Break" mode="ios"></ion-input>
        </ion-item>
      </form>
    </div>

    <div class="ion-padding">

      <ion-item class="term-list">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>
          <ion-text>Start Date: <strong>April 24</strong></ion-text>
          <ion-text>End Date: <strong>April 24</strong></ion-text>
        </ion-label>
      </ion-item>

    </div>
  </ion-content>