<ion-header class="header" mode="ios">
  <ion-toolbar>
    <ion-title>
      New Academic Year
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
  <div class="ion-padding">
    <form>
      <ion-item>
        <ion-label position="stacked">Year</ion-label>
        <ion-input type="text" placeholder="2019" mode="ios"></ion-input>
      </ion-item>
    </form>
  </div>
  <div class="heading">
    <h1>Terms</h1>
  </div>
  <div class="ion-padding">
    <a class="add-new-link">
      <ion-icon name="add" mode="ios"></ion-icon> Add New Term
    </a>
    <ion-item class="term-list">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>
        <ion-text>Start Date: <strong>Wed, Jan 9, 2019</strong></ion-text>
        <ion-text>End Date: <strong>Wed, May 1, 2019</strong></ion-text>
      </ion-label>
    </ion-item>
    <ion-item class="term-list">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>
        <ion-text>Start Date: <strong>Wed, Jan 9, 2019</strong></ion-text>
        <ion-text>End Date: <strong>Wed, May 1, 2019</strong></ion-text>
      </ion-label>
    </ion-item>
    <ion-item class="term-list">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>
        <ion-text>Start Date: <strong>Wed, Jan 9, 2019</strong></ion-text>
        <ion-text>End Date: <strong>Wed, May 1, 2019</strong></ion-text>
      </ion-label>
    </ion-item>
    <ion-item class="term-list">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>
        <ion-text>Start Date: <strong>Wed, Jan 9, 2019</strong></ion-text>
        <ion-text>End Date: <strong>Wed, May 1, 2019</strong></ion-text>
      </ion-label>
    </ion-item>
  </div>
</ion-content>